@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&display=swap');
*,
*::after,
*::before {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-light: #f3f4f6;
    --text-light: ;
    --bg-dark: #121614;
    --text-dark: ;
}

[color-scheme='light'] {
    --bg-color: var(--bg-light);
    --text-color: var(--text-light);
}

[color-scheme='dark'] {
    --bg-color: var(--bg-dark);
    --text-color: var(--text-dark);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    font-family: 'Roboto', sans-serif;
    color: #444;
    background-color: var(--bg-color);
    transition: all 200ms ease;
}

nav {
    width: 100vw;
    display: flex;
    justify-content: end;
}
nav .toggle__btn {
    margin-right: 2em;
}

.form-container {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}
.form-container h1 {
    font-size: 1.5rem;
    margin-bottom: 2em;
}
.form-container .message {
    padding: 1em 0;
    margin-bottom: 1em;
    color: #121614;
    font-weight: 500;
}
.form-container .message.success {
    background-color: #4ade80;
}
.form-container .message.failed {
    background-color: #ef4444;
}
.form-container .message.delete {
    background-color: #81cacf;
}
.form-container form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
    padding: 2em;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
        0 1px 3px 1px rgba(60, 64, 67, 0.149);
    border-radius: 6px;
}
.form-container form input,
.form-container form textarea {
    padding: 0.5em;
    flex: 1 1 100%;
    font-size: inherit;
    font-family: inherit;
    border: 2px solid transparent;
    outline: 2px solid transparent;
    border-radius: 0.25em;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
        0 1px 3px 1px rgba(60, 64, 67, 0.149);
    transition: all 250ms ease-out;
}
.form-container form input:focus,
.form-container form textarea:focus {
    box-shadow: none;
    border: 2px solid #4ade80;
    outline: #4ade80;
}
.form-container form textarea {
    resize: none;
}
.form-container form button[type='submit'] {
    padding: 0.75em 0;
    background-color: #444;
    color: #f3f4f6;
    font-family: inherit;
    font-size: inherit;
    border: none;
    cursor: pointer;
    transition: all 250ms ease-out;
}
.form-container form button[type='submit']:hover,
.form-container form button[type='submit']:focus {
    background-color: #121614;
}

.note-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5em;
}
.note-container .note {
    padding: 1em;
    flex: 0 1 24%;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
        0 1px 3px 1px rgba(60, 64, 67, 0.149);
    border-radius: 6px;
}
.note-container .note .note__title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.5em;
}
.note-container .note .note__body {
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
}
.note-container .note .note__btns {
    margin-top: 1em;
    display: flex;
    justify-content: end;
    gap: 0.5em;
}
.note-container .note .note__btns .note__btn {
    font-size: 0.75rem;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 250ms ease-out;
}
.note-container .note .note__btns .note__btn i {
    pointer-events: none;
}
.note-container .note .note__btns .note__btn:hover,
.note-container .note .note__btns .note__btn:focus {
    background-color: #ccc;
} /*# sourceMappingURL=style.css.map */
